body{
    background-image: linear-gradient(black, gray, black) ;
    font-family: 'Odibee Sans', cursive;
    
}
.nav{
    text-align: center;
    color: white;
    background-color: rgb(25, 56, 77);
    padding: 3px;
    border: solid 4px rgb(139, 226, 197);
    position: sticky; /* adicionado 14/6/21 */
    top: 0px /* adicionado 14/6/21 */
    
}

h2{
    background-color: rgb(139, 226, 197);
    display: inline-block;
    padding: 3px; /* adicionado 14/6/21 */
}

.lista {
    font-size: 20px;
    color: white;
    font-style:oblique;
}

.kriid{
    color: goldenrod
}

.I6y{
    color: yellow;
    
}

/* características dos personagens */

h2.titulo3{
    margin: 0px 600px 0px 600px; /* adicionado 14/6/21 */  
    
}

p.caract_kriid{
    color: black;
    display: inline-block;
    background-color: goldenrod ;
    width: 500px;/* adicionado 14/6/21 */
    font-size: 20px;
    margin: 30px 30px 30px 200px; /* adicionado 14/6/21 */
    padding: 5px; /* adicionado 14/6/21 */

}


 /* adicionado 14/6/21 */
p.caract_i6y{
    color: black;
    display: inline-block;
    width: 500px;/* adicionado 14/6/21 */
    font-size: 20px;
    background-color: rgb(255, 255, 0);
    margin: 30px 200px 30px 30px; /* adicionado 14/6/21 */
    padding: 5px; /* adicionado 14/6/21 */

}


/* pagina kriidmul e isixy*/


.token{/* adicionado 14/6/21 */
    position:absolute ;
    left: 1250px;
    z-index: 1 ;  
    background-color: black;
    padding: 10px;
    border: solid 5px rgb(25, 56, 77);
    height: 225px;
}

h1.nome{
    background-color: goldenrod;
    font-style:oblique;
    ;
}

h1.nome2{
    background-color: yellow;
    font-style:oblique;
}


